/* ============================================================
   FONTS — carregamento de fontes locais
   ============================================================ */
@font-face {
  font-family: 'ChaletComprime';
  src: url('../fonts/ChaletComprime.ttf') format('truetype');
  font-display: swap;
}
